@tailwind base;
@tailwind components;
@tailwind utilities;

html ,body {
  background-color: rgb(231, 212, 240);
  margin: 0;
}

#root {
  margin: 0;
  padding: 20px;
  text-align: center;
}

.burgerMenu {
  display: none; 
  flex-direction: column; 
}

.showBurger {
  display: flex; 
}

.addProjectBtn{
  position: fixed;
  right: 100px;
  bottom: 100px;  
}

.userDropDown{
  position:relative;
  transition: height 0.3s ease;
  cursor: pointer;
}

.dropOpen {
  height: 100px;
}

.dropClose {
  height: 0px;
  display: none;
}

.userUl {
  position: absolute;
  width: auto;
  z-index: 10;
  top:50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.userLi {
  width: 100%;
  background-color: aqua;
  text-align: start;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button {
  cursor: pointer;
}