@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.burgerMenu {
  display: none; 
  flex-direction: column; 
}

.showBurger {
  display: flex; 
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button {
  cursor: pointer;
}